<a href="https://colab.research.google.com/github/Oelebrashy/Machine-Learning/blob/main/Spaceship_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from IPython.display import display, HTML
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [11]:
# Function to display DataFrame in a scrollable format
def show_scrollable(df, height=400, width='100%'):
    return display(HTML(f"""
    <div style="height: {height}px; width: {width}; overflow: auto;">
        {df.to_html(index=False)}
    </div>
    """))

In [12]:
# Load the data
train_data = pd.read_csv('/content/train.csv')
test_data = pd.read_csv('/content/test.csv')
sample_submission = pd.read_csv('/content/sample_submission.csv')

# Create a new feature for group ID
train_data['GroupID'] = train_data['PassengerId'].str.split('_').str[0]
test_data['GroupID'] = test_data['PassengerId'].str.split('_').str[0]

# Create a new feature to indicate if a passenger is in a group
train_data['InGroup'] = train_data.duplicated(subset=['GroupID'], keep=False)
test_data['InGroup'] = test_data.duplicated(subset=['GroupID'], keep=False)

# Fill missing spending values with 0
spending_cols = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
train_data[spending_cols] = train_data[spending_cols].fillna(0)
test_data[spending_cols] = test_data[spending_cols].fillna(0)

# Create a new feature for total spending
train_data['TotalSpending'] = train_data[spending_cols].sum(axis=1)
test_data['TotalSpending'] = test_data[spending_cols].sum(axis=1)

# Drop the Name column
train_data = train_data.drop(columns=['Name'])
test_data = test_data.drop(columns=['Name'])

# Fill remaining missing values for CryoSleep, Age, HomePlanet, Destination, VIP, and Cabin
train_data['CryoSleep'] = train_data['CryoSleep'].fillna(False).astype(bool)
test_data['CryoSleep'] = test_data['CryoSleep'].fillna(False).astype(bool)
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].median())
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].median())
train_data['HomePlanet'] = train_data['HomePlanet'].fillna(train_data['HomePlanet'].mode()[0])
test_data['HomePlanet'] = test_data['HomePlanet'].fillna(test_data['HomePlanet'].mode()[0])
train_data['Destination'] = train_data['Destination'].fillna(train_data['Destination'].mode()[0])
test_data['Destination'] = test_data['Destination'].fillna(test_data['Destination'].mode()[0])
train_data['Cabin'] = train_data['Cabin'].fillna('Unknown/0/Unknown')
test_data['Cabin'] = test_data['Cabin'].fillna('Unknown/0/Unknown')
train_data['VIP'] = train_data['VIP'].fillna(False).astype(bool)
test_data['VIP'] = test_data['VIP'].fillna(False).astype(bool)

# Split the Cabin column into Deck, RoomNumber, and Side
train_data[['Deck', 'RoomNumber', 'Side']] = train_data['Cabin'].str.split('/', expand=True)
test_data[['Deck', 'RoomNumber', 'Side']] = test_data['Cabin'].str.split('/', expand=True)

# Drop the RoomNumber column
train_data = train_data.drop(columns=['RoomNumber'])
test_data = test_data.drop(columns=['RoomNumber'])

# Drop the original Cabin column
train_data = train_data.drop(columns=['Cabin'])
test_data = test_data.drop(columns=['Cabin'])

# Display cleaned up data
show_scrollable(train_data.head(15))
show_scrollable(test_data.head(15))

In [13]:
# Scale the numerical data
scaler = StandardScaler()
numerical_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'TotalSpending']
train_data[numerical_cols] = scaler.fit_transform(train_data[numerical_cols])
test_data[numerical_cols] = scaler.transform(test_data[numerical_cols])

# Encode categorical variables
categorical_cols = ['HomePlanet', 'Destination', 'Deck', 'Side']
train_data = pd.get_dummies(train_data, columns=categorical_cols)
test_data = pd.get_dummies(test_data, columns=categorical_cols)

# Ensure the test set has the same dummy variable columns as the train set
missing_cols = set(train_data.columns) - set(test_data.columns)
for col in missing_cols:
    test_data[col] = 0
test_data = test_data[train_data.columns.drop('Transported')]

# Display the encoded data
show_scrollable(train_data.head(15))
show_scrollable(test_data.head(15))

In [14]:
# Final feature selection
features = train_data.drop(columns=['PassengerId', 'Transported', 'GroupID'])
target = train_data['Transported']

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(features, target, test_size=0.2, random_state=42)

# Initialize and train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_val)
print(f'Accuracy: {accuracy_score(y_val, y_pred)}')

# Make predictions on the test set
test_data = test_data.drop(columns=['PassengerId', 'GroupID'])  # Ensure PassengerId is not included in the test set features
test_predictions = model.predict(test_data)

# Prepare the submission
submission = sample_submission.copy()
submission['Transported'] = test_predictions
submission_path = '/content/submission.csv'
submission.to_csv(submission_path, index=False)

# Display the submission file
show_scrollable(submission.head(15))

Accuracy: 0.7826336975273146